html, body{
	padding: 0px;
	margin: 0px;
	background: #f0f0f0;
}

ul {
	line-height: 1.25;
	//width: 800px;
}

.landing {
	margin-top: -45px;
	padding-top: 45px;
	font-family: Oswald, Helvetica, Arial, sans-serif;
	color: #666;
	background-image: url('/imgs/landing_pattern.png');
	min-height: 345px;
	display: -webkit-flex;
	display: flex;
	padding-bottom: 20px;
	border-bottom: solid 2px #ccc;
	margin-bottom: 10px;
}

.landing .content {
	margin: auto;
}

.landing h1 {
	text-transform:uppercase;
	text-align: center;
	color: #555555;
	font-size: 100px;
	opacity: 0.9;
	font-family: Oswald, Helvetica, Arial, sans-serif;
	padding: 0px;
	line-height: 100px
}

.landing .statement {
	color: #2E2E2E;
	font-size: 30px;
	text-align: center;
	opacity: 0.9;
	color:#65848d;
	font-family: Oswald, Helvetica, Arial, sans-serif;
}

.top-bar, .top-bar-section ul.right li a {
	//background: transparent !important;
	background: #383838 !important;
	display:block;
}

.top-bar-section ul.right li a {
 	//color: #666 !important;
}

.top-bar-section ul.right {
	//background: transparent !important;
	
}
.top-bar-section ul.right li a:hover {
	background: #7e7e7e !important;
}


.space {
	height: 400px;
}

h2.section-heading {
	font-family: Oswald, Helvetica, Arial, sans-serif;
	font-size: 30px;
	color:#65848d;
	margin-bottom: 15px;
	border-bottom: solid 2px #ccc;
	
	margin-top: 0px;
	text-align: center;
	padding-top: 15px;
}
.headroom {transition: all .3s ease-in-out;}
		.headroom--unpinned {top: -100px;}
		.headroom--pinned {top: 0;}

li.mix{
	display: none;
}

#myModal .columns {
	
}
#myModal .project-left {
	padding: 0px;
	padding-bottom: 10px;
}
#myModal .project-left img{
	width: 100%;
}


h3.project-heading {
	color: #2E2E2E;
	font-size: 30px;
	text-align: center;
	opacity: 0.9;
	color:#65848d;
	font-family: Oswald, Helvetica, Arial, sans-serif;
	padding-bottom: 6px;
	
	border-bottom: solid 2px #ccc;
	margin-bottom: 10px;
}

span.github {

}

.project-right {
	padding: 0px;
}

.row {

}

#myModal .project-sub-header {
	//color: #2E2E2E;
	color:#65848d;
	font-family: Oswald, Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	padding-bottom: 5px;
}

#myModal .gallery {
	padding-right: 0px;
	padding-left: 0px;
	margin-bottom: 10px;
}

#myModal .gallery img{
	width: 100%;
}

.project-info .row {
	margin-bottom: 10px;
}

@media (min-width: 1250px) {
	#myModal {
		left: 50%;
		margin-left: -475px;
		width: 950px;
	}
}

/* modal stylin profilin */
#myModal .project-links .right a {
	margin-left: 4px;
}

#myModal .project-links .right a i:after {
	content: "\00a0";
}

.orbit-timer {
	display: none;
}

.about {
	font-size: 20px;
}

.about-header img{
	max-height: 200px;
	background: #f5f2f2;
	border: solid 1px #ccc;
	float: left;
	margin-right: 10px;
}

.about {
	padding-left: 4px;
	margin-bottom: 5px;
}

.contact a {
	//width: 100%;
}
.contact a i {
	display: inline-block;
	float: right;
	padding-left: 10px;
}


.contact {
	padding-left: 3px;
	padding-right: 3px;
}

.resume-header .columns{
	//border: solid 1px #ccc;
}
h3.resume-heading {
	font-family: Oswald, Helvetica, Arial, sans-serif;
	font-size: 20px;
	color:#65848d;
	margin-bottom: 15px;
}

.skills li{
	font-size: 20px;
}

.skills li span{
	font-size: 15px;
	color: #65848d;
}

.sigma-parent {
	padding: 0px;
}

#sigma-container {
	background-color: #f5f2f2;
	height: 300px;
	border: solid 1px #ccc;
	margin: auto;
}

.resume-btn a{
	margin-top: 20px;
	width:100%;
}

ul.list {
	margin: 0px;
	
}

ul.list li{
	margin: 0px;
	padding: 0px;
}

ul.list li figure {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 3px;
	cursor: pointer;
	//border: solid 1px #ccc;
	height: 61px;
	background:#c6d1d4;
	overflow: hidden;
	-webkit-transition: margin 0.2s, color 0.2s; /* For Safari 3.1 to 6.0 */
    transition: margin 0.2s, color 0.2s;
}
	
ul.list li h3 {
	font-size: 20px;
	margin-bottom: 0px;
	line-height: 25px;
}
ul.list li img {
	display: none;
}

ul.list li span {
	padding-top: 0px;
	color: #d34f47;
}

ul.list li figure:hover {
	background:#a7c4cc;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 6px;
	margin-bottom: 6px;
}
.filter-btns {
	position: relative;
}
.mixitup-layout {
	font-size: 35px;
	margin-right: 0px;
	position: absolute;
	top: 18px;
	left: 3px;
	color: #9d9d9d;
	cursor: pointer;
}

@media (max-width: 640px) {
	.sigma-parent .resume-heading {
		padding-left: 16px;
	}
}

.contact {
	display: -webkit-flex;
	display: flex;
}

.contact .inner{
	width: 170px;
	margin: auto;
}

.contact .inner i{
	padding: 3px;
	width: 63px;
	height: 55px;
	margin: 10px;
	font-size: 60px;
	color: #555555;
	-webkit-transition: color 0.2s, padding 0.2s; /* For Safari 3.1 to 6.0 */
    transition: color 0.2s, padding 0.2s;
}

.contact .inner i:hover {
	color: #343434;
	padding-top: 0px;
	padding-left: 0px;
}