body, html {
    height: 100%;
    min-height: 100%;
    background-color: #151515;
}

nav .menu {
    float: left;
    width: 0px;
    background: #151515;
    color: #ccc;
    font-size: 30px;
    overflow: hidden;
}

nav .contact {
    float: left;
    width: 0px;
    background: #151515;
    color: #ccc;
    font-size: 30px;
    height: 200px;
    overflow: hidden;
}

nav .menu ul{
    font-family: 'Megrim', cursive;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    text-indent: ;
    line-height: 60px;
}

nav .menu ul a{
    text-decoration: none;
    color: inherit;
}

nav .menu ul a:hover{
    color: #c2daeb;
}
    
nav {
    position: fixed; 
    z-index: 99;
    height: 70px;
}

nav i {
    position: relative;
    top: 14px;
    left: 18px;
    font-size: 40px;
    color: #ccc;
}

nav .menu-button {
    cursor: pointer;
    float: left;
    width: 70px;
    height: 70px;
    background: #151515;
}

nav i:hover {
    color: #c2daeb;
}

@font-face {
    font-family: penna;
    src: url("penna.otf") format("opentype");
}

.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
/* Slide 1 */
#slide-1 .bcg {background-image:url('../images/b1.svg')}

.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #151515;
    font-family: penna;
    
    padding: 0 8%;
    text-align: center
}
.hsContent h2 {
    font-family: penna;
    padding: 0px;
    font-size: 140px;
    margin: 0px;
    line-height: 1;
    font-weight: normal;
}

.section-label h2 {
    font-family: penna;
    margin-top: 75px;
    font-size: 100px;
    color: #ccc;
    line-height: 1;
    font-weight: normal;
}

.hsContent p {
    font-size: 40px;
    padding: 0px;
    margin: 0px;
}

@media (max-width: 768px) {
   .hsContent h2 {
      font-size: 100px;
   }
}

.columns {
    padding: 0px;
    float: left;
}

.row .mix{
    display: none;
}
 
 .filter-button {
    font-family: 'Megrim', cursive;
    font-weight: bold;
    cursor: pointer;
    float: left;
    font-size: 18px;
    padding: 15px;
    
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-top: 0px;
    background: #147e6f;
    color: #ccc;
 }


.contact-panel {
    height: 200px;
    overflow: hidden;
}

.contact-link p {
    margin: 0;
    padding-top: 24px;
    font-family: 'Megrim', cursive;
    font-weight: bold;
    font-size: 30px;
    float: left;
    height: 100px;
    width: 150px;
    overflow: hidden;
}

.contact-panel a{
    text-decoration: none;
    color: #ccc;
}

.contact-panel a:hover{
    color: #c2daeb;
}

.contact-pic {
    margin-top: 10px;
    height: 100px;
    background-image:url('../images/me.png');
    background-repeat: no-repeat;
    background-size: 300px;
    overflow: hidden;
}
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #ccc;
    opacity: 0.5;
    overflow: hidden;
    display: none;
}
.overlay i {
    position: absolute;
    font-size: 130px;
    top: 50%;
    margin-top: -70px;
    left: 50%;
    margin-left: -64px;
    color: black;
}

.overlay:hover {
    cursor: pointer;
}

/*  SLIDE */
#slideit-menu {
    position: fixed;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
}

.slideit-panel {
    display: none;
}

.slideit-panel h3 {
    padding-top: 10px;
    color: #ccc;
}

.slideit-panel p {
    color: #ccc;
}

.slideit-panel .project-links{
    text-decoration: none;
    font-family: 'Megrim', cursive;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    color: #ccc;
}
.slideit-panel .project-links ul{
    text-decoration: none;
    list-style-type: none;
    line-height: auto;
    margin-left: 0;
}

.slideit-panel .project-links ul li{
    float: left;
    background: #147e6f;
    padding: 10px;
    margin-right: 10px;
}

.slideit-panel .project-links ul li a{
    text-decoration: none;
    color: #ccc;
}

html,body {
    position: relative;
    left: 0px;
}

#slide-it-overlay {
    position: fixed; 
    display: none;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background: #ccc;
    opacity: 0.1;
}

.orbit-container {
    width: 100%;
    min-height: 240px;
}

